/* @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.fruits {
  padding-top: 80px;
  padding-bottom: 70px;
  color: rgba(0, 0, 0, 0.651);
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 50px;
  gap: 10px;
  grid-auto-flow: row;
  justify-items: center;
}

.container p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  color: rgb(29, 27, 27);
  text-align: center;
}

.fruits-images {
  width: 270px;
}

@media only screen and (max-width: 1200px) {
  .fruits-images {
    width: 200px;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-flow: row;
    justify-items: center;
  }
}
@media only screen and (max-width: 650px) {
  .fruits-images {
    width: 200px;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-flow: row;
    justify-items: center;
  }
} */
